<nav class="navbar">
    <div class="navbar-left">
        <span class="navbar-title">Byskovskolen's SFO</span>
    </div>

    <div class="navbar-right">
        <a href="/adminLogin" class="admin-login">Admin</a>
    </div>
</nav>
