<h1>Admin login</h1>
<form method="post" action="/adminLogin">
    <label for="username">Brugernavn</label>
    <input id="username" name="username" type="text" required>

    <label for="password">Password</label>
    <input id="password" name="password" type="password" required>

    <button type="submit">Log ind</button>
</form>
