<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>

</head>
<body>

<h1>Velkommen til Admin login</h1>
<p>Her kan personale logge ind.</p>

</body>
</html>
