<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medarbejdere</title>

    <link rel="stylesheet" href="/css/styling.css">
    <script src="/js/navbar.js" defer></script>

</head>
<body>

<h1>Personalet i SFO'en</h1>
<p>Dette er vores personale.</p>

</body>
</html>
