<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <!-- Load navbar styling -->
    <link rel="stylesheet" href="/css/styling.css">
    <!-- Load navbar logic -->
    <script src="/js/navbar.js" defer></script>

</head>
<body>

<h1>Velkommen til Byskovskolen's SFO!</h1>
<p>Dette er en SFO hjemmeside.</p>

</body>
</html>
